<head>
    <meta charset="utf-8">
    <title>商品比較</title>
    <link href="assets/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>