<!doctype html>
<html>
    <% include modules/head.ejs %>
    <link rel="stylesheet" href="app/css/main.css">
    <body>
        <!-- index.html 裏只有這個進入點，剩下 dom 都在 react 裏生成  -->
        <section id="container"></section>
        <% include modules/libJs.ejs %>
        <script src="app/js/boot-bundle.js"></script>
    </body>
</html>
